
.specialTable {
    width:100%;
    border-collapse: separate;
    margin-top:75px;
    padding:20px;
    text-align: center
}

.smallTable {
    margin-top: 30px;
}

.pointsTable {
    margin:auto;
    margin-top: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px;
  }

.celtics {
    color:#008347;
    background:#BB9753;
    font-weight:bold;
}

.pacers {
   color:gold;
}

 



