
.specialTable {
    width:100%;
    border-collapse: separate;
    margin-top:75px;
    padding:20px;
    text-align: center
}

.smallTable {
    margin-top: 30px;
}

.pointsTable {
    margin:auto;
    margin-top: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px;
  }

.celtics {
    color:#BB9752;
    background:#078348;
    font-weight:bold;
}

.pacers {
color: #FCB424;
background: #081D3F;
font-weight:bold;

}

.hornets {
    color:  #1B1060;
    background: #018CA8;
    font-weight:bold;
   
    }
 
.rams {
color: #FFFFFF;
background: #002244;
font-weight:bold;

}

.jaguars {
color: #D7A129;
background: #3B7A85;
font-weight:bold;

}

.giants {
color: #CC314B;
background: #003C7F;
font-weight:bold;

}

.leicester {
color: #FFFFFF;
background: #01479A;
font-weight:bold;

}

.norwich {
color: #FFF200;
background: #0DA650;
font-weight:bold;

}

.sharks {
color: #010101;
background: #016271;
font-weight:bold;

}

.rangers {
color: #C8102E;
background: #0033A0;
font-weight:bold;

}

.devils {
color: #010101;
background: #C8102D;
font-weight:bold;

}

.heat {
color: #D45199;
background: #8EBDDF;
font-weight:bold;

}

.nets {
color: #FEFEFE;
background: #2D2925;
font-weight:bold;

}

.spurs {
color: #2D2925;
background: #C4CDD3;
font-weight:bold;

}

.niners {
color: #C6A876;
background: #C9233F;
font-weight:bold;

}

.seahawks {
color: #5A9D60;
background: #002A5C;
font-weight:bold;

}

.patriots {
color: #DA2128;
background: #002A5C;
font-weight:bold;

}

.chelsea {
color: #FFFFFF;
background: #034594;
font-weight:bold;

}

.brighton {
color: #FFFFFF;
background: #0053A6;
font-weight:bold;

}

.blackhawks {
color: #C2122D;
background: #010101;
font-weight:bold;

}

.knights {
color: #010101;
background: #B9975B;
font-weight:bold;

}

.canucks {
color: #FFFFFF;
background: #152F54;
font-weight:bold;

}

.mavs {
color: #061821;
background: #0064B1;
font-weight:bold;

}

.magic {
color: #0077C0;
background: #110B0C;
font-weight:bold;

}

.wiz {
color: #002A5B;
background: #E21736;
font-weight:bold;

}

.chargers {
color: #FFC20D;
background: #1286C9;
font-weight:bold;

}

.packers {
color: #FFC20D;
background: #06332D;
font-weight:bold;

}

.bills {
color: #DA2128;
background: #005495;
font-weight:bold;

}

.everton {
color: #FFFFFF;
background: #014493;
font-weight:bold;

}

.southhampton {
color: #FFFFFF;
background: #D71820;
font-weight:bold;

}

.lightning {
color: #FFFFFF;
background: #00205B;
font-weight:bold;

}

.bruins {
color: #FDB41F;
background: #010101;
font-weight:bold;

}

.redwings {
color: #FFFFFF;
background: #C8102D;
font-weight:bold;

}

.lakers {
color: #542482;
background: #FEC42F;
font-weight:bold;

}

.jazz {
color: #F9A11A;
background: #0A213E;
font-weight:bold;

}

.warriors {
color: #FDB928;
background: #1D428A;
font-weight:bold;

}

.ravens {
color: #010101;
background: #2C2D8B;
font-weight:bold;

}

.titans {
color: #002A5C;
background: #4495D1;
font-weight:bold;

}

.jets {
color: #FFFFFF;
background: #115740;
font-weight:bold;

}

.mancity {
color: #0B2962;
background: #6CAEE0;
font-weight:bold;

}

.wolverhampton {
color: #221E20;
background: #F9A01B;
font-weight:bold;

}

.islanders {
color: #FC4C01;
background: #003087;
font-weight:bold;

}

.ducks {
color: #101010;
background: #FC4C01;
font-weight:bold;

}

.lakings {
color: #FFFFFF;
background: #000000;
font-weight:bold;

}

.pelicans {
color: #B49759;
background: #002A5B;
font-weight:bold;

}

.grizzlies {
color: #11163F;
background: #5D76A9;
font-weight:bold;

}
.cavs {
color: #FCB61B;
background: #680131;
font-weight:bold;

}

.eagles {
color: #BBC4CA;
background: #00353B;
font-weight:bold;

}

.cowboys {
color: #98A8BD;
background: #002A5C;
font-weight:bold;

}

.redskins {
color: #FFC20D;
background: #671C13;
font-weight:bold;

}

.tottenham {
color: #FFFFFF;
background: #001B58;
font-weight:bold;

}

.bournemouth {
color: #000000;
background: #B90F13;
font-weight:bold;

}

.leafs {
color: #FFFFFF;
background: #064281;
font-weight:bold;

}

.avalanche {
color: #860438;
background: #045997;
font-weight:bold;

}

.flyers {
color: #F37735;
background: #221E20;
font-weight:bold;

}

.sixers {
color: #EC164B;
background: #006AB6;
font-weight:bold;

}

.rockets {
color: #FFFFFF;
background: #CE1140;
font-weight:bold;

}

.tWolves {
color: #7AC141;
background: #002A5B;
font-weight:bold;

}

.bears {
color: #C73E00;
background: #0B1529;
font-weight:bold;

}

.texans {
color: #C9233F;
background: #00143F;
font-weight:bold;

}

.broncos {
color: #002244;
background: #FB4F14;
font-weight:bold;

}

.sheffield {
color: #FFFFFF;
background: #ED1C24;
font-weight:bold;

}

.burnley {
color: #8BD3F5;
background: #6A0139;
font-weight:bold;

}

.winnipeg {
color: #438DD1;
background: #002649;
font-weight:bold;

}

.hurricanes {
color: #E31737;
background: #191818;
font-weight:bold;

}

.coyotes {
color: #EEE1C6;
background: #98042E;
font-weight:bold;

}

.raptors {
color: #CE1140;
background: #061821;
font-weight:bold;

}

.pistons {
color: #C8102E;
background: #1D428A;
font-weight:bold;

}

.knicks {
color: #F26729;
background: #0E4B90;
font-weight:bold;

}

.chiefs {
color: #FFFFFF;
background: #E31737;
font-weight:bold;

}

.panthers {
color: #0085CA;
background: #000000;
font-weight:bold;

}

.bengals {
color: #000000;
background: #FB4F14;
font-weight:bold;

}

.manU {
color: #FFE500;
background: #D81820;
font-weight:bold;

}

.westHam {
color: #A4CBE7;
background: #7B2439;
font-weight:bold;

}

.predators {
color: #002D62;
background: #FDBB2F;
font-weight:bold;

}

.stars {
color: #FFFFFF;
background: #095A3D;
font-weight:bold;

}

.canadiens {
color: #013A80;
background: #AB182C;
font-weight:bold;

}

.bucks {
color: #EDE0C5;
background: #024719;
font-weight:bold;

}

.thunder {
color: #FEFEFE;
background: #0070B9;
font-weight:bold;

}

.suns {
color: #0A143C;
background: #E45F1F;
font-weight:bold;

}

.saints {
color: #000000;
background: #9F8958;
font-weight:bold;

}

.falcons {
color: #000000;
background: #A71830;
font-weight:bold;

}

.lions {
color: #A0A0A0;
background: #0076B6;
font-weight:bold;

}

.newcastle {
color: #FFFFFF;
background: #161314;
font-weight:bold;

}

.crystalP {
color: #16206A;
background: #EB302D;
font-weight:bold;

}

.flames {
color: #E21936;
background: #000000;
font-weight:bold;

}

.penguins {
color: #FDBB2F;
background: #181818;
font-weight:bold;

}

.wild {
color: #EEE1C6;
background: #02462E;
font-weight:bold;

}