
.specialTable {
    width:100%;
    border-collapse: separate;
    margin-top:75px;
    padding:20px;
    text-align: center
}

.smallTable {
    margin-top: 30px;
}

.pointsTable {
    margin:auto;
    margin-top: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px;
  }

.celtics {
    color:#BB9752;
    background:#078348;
    font-weight:bold;
}

.pacers {
color: #FCB424;
background: #081D3F;
font-weight:bold;

}

.hornets {
    color:  #1B1060;
    background: #018CA8;
    font-weight:bold;
   
    }
 
.rams {
color: #FFFFFF;
background: #002244;
font-weight:bold;

}

.jaguars {
color: #D7A129;
background: #3B7A85;
font-weight:bold;

}

.giants {
color: #CC314B;
background: #003C7F;
font-weight:bold;

}

.leicester {
color: #FFFFFF;
background: #01479A;
font-weight:bold;

}

.norwich {
color: #FFF200;
background: #0DA650;
font-weight:bold;

}

.sharks {
color: #010101;
background: #016271;
font-weight:bold;

}

.rangers {
color: #C8102E;
background: #0033A0;
font-weight:bold;

}

.devils {
color: #010101;
background: #C8102D;
font-weight:bold;

}

.heat {
color: #D45199;
background: #8EBDDF;
font-weight:bold;

}

.nets {
color: #FEFEFE;
background: #2D2925;
font-weight:bold;

}

.spurs {
color: #2D2925;
background: #C4CDD3;
font-weight:bold;

}

.niners {
color: #C6A876;
background: #C9233F;
font-weight:bold;

}

.seahawks {
color: #5A9D60;
background: #002A5C;
font-weight:bold;

}

.patriots {
color: #DA2128;
background: #002A5C;
font-weight:bold;

}

.chelsea {
color: #FFFFFF;
background: #034594;
font-weight:bold;

}

.brighton {
color: #FFFFFF;
background: #0053A6;
font-weight:bold;

}

.blackhawks {
color: #C2122D;
background: #010101;
font-weight:bold;

}

.knights {
color: #010101;
background: #B9975B;
font-weight:bold;

}

.canucks {
color: #FFFFFF;
background: #152F54;
font-weight:bold;

}

.mavs {
color: #061821;
background: #0064B1;
font-weight:bold;

}

.magic {
color: #0077C0;
background: #110B0C;
font-weight:bold;

}

.wiz {
color: #002A5B;
background: #E21736;
font-weight:bold;

}

.chargers {
color: #FFC20D;
background: #1286C9;
font-weight:bold;

}

.packers {
color: #FFC20D;
background: #06332D;
font-weight:bold;

}

.bills {
color: #DA2128;
background: #005495;
font-weight:bold;

}

.everton {
color: #FFFFFF;
background: #014493;
font-weight:bold;

}

.southhampton {
color: #FFFFFF;
background: #D71820;
font-weight:bold;

}

.lightning {
color: #FFFFFF;
background: #00205B;
font-weight:bold;

}

.bruins {
color: #FDB41F;
background: #010101;
font-weight:bold;

}

.redwings {
color: #FFFFFF;
background: #C8102D;
font-weight:bold;

}

.lakers {
color: #542482;
background: #FEC42F;
font-weight:bold;

}

.jazz {
color: #F9A11A;
background: #0A213E;
font-weight:bold;

}

.warriors {
color: #FDB928;
background: #1D428A;
font-weight:bold;

}

.ravens {
color: #010101;
background: #2C2D8B;
font-weight:bold;

}

.titans {
color: #002A5C;
background: #4495D1;
font-weight:bold;

}

.jets {
color: #FFFFFF;
background: #115740;
font-weight:bold;

}

.mancity {
color: #0B2962;
background: #6CAEE0;
font-weight:bold;

}

.wolverhampton {
color: #221E20;
background: #F9A01B;
font-weight:bold;

}

.islanders {
color: #FC4C01;
background: #003087;
font-weight:bold;

}

.ducks {
color: #101010;
background: #FC4C01;
font-weight:bold;

}

.lakings {
    color: #FFFFFF;
    background: #000000;
    font-weight:bold;
    
    }
                                    
